node_modules/
jspm_packages/
bower_components/
web_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
lerna-debug.log
.env
.env.test
.custom-env
.vscode-test
.vscode
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.eslintcache
.cache
.parcel-cache
.npm